@tailwind base;
@tailwind components;
@tailwind utilities;
*,*::after,*::before{
        color: var(--color-primary);
}
:root{
        --color-bg:#fff;
        --color-heading:black;
        --color-danger:red;
        --color-white:white;
        --color-glass:rgba(0,0,0,0.2);
        --color-light-glass:rgba(181, 181, 181, 0.6);
        --color-primary:rgba(0,0,0,0.8);
        --color-secondary:rgb(255,255,0);
        --color-light-secondary:rgba(255,250,0,0.2);
}
.dark{
        --color-bg:black;
        --color-heading:#fff;
        --color-danger:red;
        --color-white:#ECDBBA;
        --color-glass:rgba(22,22,22,0.2);
        --color-light-glass:#413F42;
        --color-primary:rgb(36, 16, 42);
        --color-secondary:#e4e4e4;
        --color-light-secondary:#a1a1a1;
}