@tailwind base;
@tailwind components;
@tailwind utilities;
*,*::after,*::before{
        color: var(--color-primary);
}
:root{
        --color-bg:rgb(255,255,255);
        --color-heading:rgba(0,0,0,0.8);
        --color-danger:rgb(255,0,0);
        --color-white:rgb(255,255,255);
        --color-glass:rgba(0,0,0,0.2);
        --color-light-glass:rgba(181, 181, 181, 0.6);
        --color-primary:rgba(0,0,0,0.8);
        --color-secondary:rgb(255,255,0);
        --color-light-secondary:rgba(255,250,0,0.2);
}
.dark{
        --color-bg:rgba(0,0,0,0.8);
        --color-heading:rgb(255,255,255);
        --color-danger:rgb(255,0,0);
        --color-white:rgb(236,219,186);
        --color-glass:rgba(22,22,22,0.2);
        --color-light-glass:rgb(65,63,66);
        --color-primary:rgb(36, 16, 42);
        --color-secondary:rgb(228,228,228);
        --color-light-secondary:rgb(161,161,161);
}
